.employees-page {
  padding: 1.5em 2em 2em;
}

.icon.edit,
.icon.remove {
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.2);
  will-change: transform;
}

.employees-page-create-button.ui.button {
  display: block;
  margin: 0 auto;
}

.employees-page-confirm-modal .content {
  color: darkred;
  text-align: center;
}
